body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 900px;
  font-size: 45 px;
  color:white;
}

html{
  scroll-behavior: smooth;
}

h2 {
  font-weight: 700px;
  font-size: 23 px;
  color:white;
}

p {
  font-weight: 500px;
  font-size: 25 px;
  color:white;
}
a {
  font-weight: 900;
  font-size: 16 px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
